<div class="w3-container w3-teal">
  <h1>Events Management Systems API</h1>
</div>
<div class="w3-container" style="width:50%">
  <h2>Quick Links</h2>
  <ul class="w3-ul w3-card-4">
    <li class="w3-hover-blue">
      <div class="w3-bar-item">
        <span><a href="docs">API Documentation</a></span>
      </div>
    </li>
  </ul>
</div>